#### Q1. What is MongoDB? Explain non-relational databases in short. In which scenarios it is preferred to use MongoDB over SQL databases?

##### MangoDB
* MongoDB is an open source NoSQL database management program. 
* NoSQL is used as an alternative to traditional relational databases. 
* NoSQL databases are quite useful for working with large sets of distributed data. 
* MongoDB is a tool that can manage document-oriented information, store or retrieve information.

##### Non-relational data and NoSQL
A non-relational database is a database that does not use the tabular schema of rows and columns found in most traditional database systems. Instead, non-relational databases use a storage model that is optimized for the specific requirements of the type of data being stored. For example, data may be stored as simple key/value pairs, as JSON documents, or as a graph consisting of edges and vertices.


NoSQL databases like MongoDB are a good choice when your data is document-centric and doesn’t fit well into the schema of a relational database, when you need to accommodate massive scale, when you are rapidly prototyping, and a few other use cases.

***
#### Q2. State and Explain the features of MongoDB.

#### 1. Ad-hoc queries for optimized, real-time analytics
When designing the schema of a database, it is impossible to know in advance all the queries that will be performed by end users. An ad hoc query is a short-lived command whose value depends on a variable. Each time an ad hoc query is executed, the result may be different, depending on the variables in question.

Optimizing the way in which ad-hoc queries are handled can make a significant difference at scale, when thousands to millions of variables may need to be considered. This is why MongoDB, a document-oriented, flexible schema database, stands apart as the cloud database platform of choice for enterprise applications that require real-time analytics. With ad-hoc query support that allows developers to update ad-hoc queries in real time, the improvement in performance can be game-changing.

MongoDB supports field queries, range queries, and regular expression searches. Queries can return specific fields and also account for user-defined functions. This is made possible because MongoDB indexes BSON documents and uses the MongoDB Query Language (MQL).

#### 2. Indexing appropriately for better query executions
In our experience, the number one issue that many technical support teams fail to address with their users is indexing. Done right, indexes are intended to improve search speed and performance. A failure to properly define appropriate indices can and usually will lead to a myriad of accessibility issues, such as problems with query execution and load balancing.

Without the right indices, a database is forced to scan documents one by one to identify the ones that match the query statement. But if an appropriate index exists for each query, user requests can be optimally executed by the server. MongoDB offers a broad range of indices and features with language-specific sort orders that support complex access patterns to datasets.

Notably, MongoDB indices can be created on demand to accommodate real-time, ever-changing query patterns and application requirements. They can also be declared on any field within any of your documents, including those nested within arrays.

#### 3. Replication for better data availability and stability
When your data only resides in a single database, it is exposed to multiple potential points of failure, such as a server crash, service interruptions, or even good old hardware failure. Any of these events would make accessing your data nearly impossible.

Replication allows you to sidestep these vulnerabilities by deploying multiple servers for disaster recovery and backup. Horizontal scaling across multiple servers that house the same data (or shards of that same data) means greatly increased data availability and stability. Naturally, replication also helps with load balancing. When multiple users access the same data, the load can be distributed evenly across servers.

In MongoDB, replica sets are employed for this purpose. A primary server or node accepts all write operations and applies those same operations across secondary servers, replicating the data. If the primary server should ever experience a critical failure, any one of the secondary servers can be elected to become the new primary node. And if the former primary node comes back online, it does so as a secondary server for the new primary node.

#### 4. Sharding
When dealing with particularly large datasets, sharding—the process of splitting larger datasets across multiple distributed collections, or “shards”—helps the database distribute and better execute what might otherwise be problematic and cumbersome queries. Without sharding, scaling a growing web application with millions of daily users is nearly impossible.

Like replication via replication sets, sharding in MongoDB allows for much greater horizontal scalability. Horizontal scaling means that each shard in every cluster houses a portion of the dataset in question, essentially functioning as a separate database. The collection of distributed server shards forms a single, comprehensive database much better suited to handling the needs of a popular, growing application with zero downtime.

All operations in a sharding environment are handled through a lightweight process called mongos. Mongos can direct queries to the correct shard based on the shard key. Naturally, proper sharding also contributes significantly to better load balancing.

#### 5. Load balancing
At the end of the day, optimal load balancing remains one of the holy grails of large-scale database management for growing enterprise applications. Properly distributing millions of client requests to hundreds or thousands of servers can lead to a noticeable (and much appreciated) difference in performance.

Fortunately, via horizontal scaling features like replication and sharding, MongoDB supports large-scale load balancing. The platform can handle multiple concurrent read and write requests for the same data with best-in-class concurrency control and locking protocols that ensure data consistency. There’s no need to add an external load balancer—MongoDB ensures that each and every user has a consistent view and quality experience with the data they need to access

***
#### Q3. Write a code to connect MongoDB to Python. Also, create a database and a collection in MongoDB.

In [1]:
pip install pymongo

Collecting pymongo
  Downloading pymongo-4.3.3-cp310-cp310-manylinux_2_17_x86_64.manylinux2014_x86_64.whl (492 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 492.9/492.9 kB 6.0 MB/s eta 0:00:00a 0:00:01
Collecting dnspython<3.0.0,>=1.16.0
  Downloading dnspython-2.3.0-py3-none-any.whl (283 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 283.7/283.7 kB 30.1 MB/s eta 0:00:00
Installing collected packages: dnspython, pymongo
Successfully installed dnspython-2.3.0 pymongo-4.3.3
Note: you may need to restart the kernel to use updated packages.

In [2]:
import pymongo
client = pymongo.MongoClient("mongodb+srv://Golukulkarni:pavan@cluster0.gc5uk4x.mongodb.net/?retryWrites=true&w=majority")
db = client.test

In [3]:
client

MongoClient(host=['ac-rmpkkhv-shard-00-00.gc5uk4x.mongodb.net:27017', 'ac-rmpkkhv-shard-00-02.gc5uk4x.mongodb.net:27017', 'ac-rmpkkhv-shard-00-01.gc5uk4x.mongodb.net:27017'], document_class=dict, tz_aware=False, connect=True, retrywrites=True, w='majority', authsource='admin', replicaset='atlas-rxfuil-shard-0', tls=True)

In [4]:
client = pymongo.MongoClient("mongodb+srv://Golukulkarni:pavan@cluster0.gc5uk4x.mongodb.net/?retryWrites=true&w=majority")
db = client['Golukulkarni']

In [5]:
coll_create = db["my_records"]

In [6]:
data = {
    "Name" : "Pavan",
    "Class" : "Data Science Masters"
}

In [7]:
data

{'Name': 'Pavan', 'Class': 'Data Science Masters'}

In [8]:
coll_create.insert_one(data)

***
#### Q4. Using the database and the collection created in question number 3, write a code to insert one record, and insert many records. Use the find() and find_one() methods to print the inserted record.

In [9]:
data

{'Name': 'Pavan',
 'Class': 'Data Science Masters',
 '_id': ObjectId('6402251af7f28b9d2bd3f16d')}

In [10]:
data1 = [
    {"Name" : "Pavan", "Roll No" : 1},
    {"Name" : "Ketan", "Roll No" : 2},
    {"Name" : "Sudha", "Roll No" : 3},
    {"Name" : "Abdul", "Roll No" : 4},
    {"Name" : "Naman", "Roll No" : 5}
]

In [11]:
data1

[{'Name': 'Pavan', 'Roll No': 1},
 {'Name': 'Ketan', 'Roll No': 2},
 {'Name': 'Sudha', 'Roll No': 3},
 {'Name': 'Abdul', 'Roll No': 4},
 {'Name': 'Naman', 'Roll No': 5}]

In [12]:
coll_create.insert_many(data1)

In [13]:
for i in coll_create.find():
    print(i)

{'_id': ObjectId('6400d73a04aa53edfdd990b6'), 'Name': 'Pavan', 'Roll No': 1}
{'_id': ObjectId('6400d73a04aa53edfdd990b7'), 'Name': 'Ketan', 'Roll No': 2}
{'_id': ObjectId('6400d73a04aa53edfdd990b8'), 'Name': 'Sudha', 'Roll No': 3}
{'_id': ObjectId('6400d73a04aa53edfdd990b9'), 'Name': 'Abdul', 'Roll No': 4}
{'_id': ObjectId('6400d73a04aa53edfdd990ba'), 'Name': 'Naman', 'Roll No': 5}
{'_id': ObjectId('6402251af7f28b9d2bd3f16d'), 'Name': 'Pavan', 'Class': 'Data Science Masters'}
{'_id': ObjectId('6402252af7f28b9d2bd3f16e'), 'Name': 'Pavan', 'Roll No': 1}
{'_id': ObjectId('6402252af7f28b9d2bd3f16f'), 'Name': 'Ketan', 'Roll No': 2}
{'_id': ObjectId('6402252af7f28b9d2bd3f170'), 'Name': 'Sudha', 'Roll No': 3}
{'_id': ObjectId('6402252af7f28b9d2bd3f171'), 'Name': 'Abdul', 'Roll No': 4}
{'_id': ObjectId('6402252af7f28b9d2bd3f172'), 'Name': 'Naman', 'Roll No': 5}

In [15]:
coll_create.find_one()

{'_id': ObjectId('6400d73a04aa53edfdd990b6'), 'Name': 'Pavan', 'Roll No': 1}

***
#### Q5. Explain how you can use the find() method to query the MongoDB database. Write a simple code to demonstrate this.

In [23]:
for i in coll_create.find({'Name': 'Ketan'}):
    print(i)

{'_id': ObjectId('6400d73a04aa53edfdd990b7'), 'Name': 'Ketan', 'Roll No': 2}
{'_id': ObjectId('6402252af7f28b9d2bd3f16f'), 'Name': 'Ketan', 'Roll No': 2}

***
#### Q6. Explain the sort() method. Give an example to demonstrate sorting in MongoDB.

### The sort() Method
To sort documents in MongoDB, you need to use sort() method. The method accepts a document containing a list of fields along with their sorting order. To specify sorting order 1 and -1 are used. 1 is used for ascending order while -1 is used for descending order.

In [26]:
coll_create.insert_many( [
   { "_id" : 1, "name" : "Central Park Cafe", "borough" : "Manhattan"},
   { "_id" : 2, "name" : "Rock A Feller Bar and Grill", "borough" : "Queens"},
   { "_id" : 3, "name" : "Empire State Pub", "borough" : "Brooklyn"},
   { "_id" : 4, "name" : "Stan's Pizzaria", "borough" : "Manhattan"},
   { "_id" : 5, "name" : "Jane's Deli", "borough" : "Brooklyn"},
] )

In [51]:
coll_create.find({},{"_id":1})

In [52]:
for i in coll_create.find():
    print(i)

{'_id': ObjectId('6400d73a04aa53edfdd990b7'), 'Name': 'Ketan', 'Roll No': 2}
{'_id': ObjectId('6400d73a04aa53edfdd990b8'), 'Name': 'Sudha', 'Roll No': 3}
{'_id': ObjectId('6400d73a04aa53edfdd990b9'), 'Name': 'Abdul', 'Roll No': 4}
{'_id': ObjectId('6400d73a04aa53edfdd990ba'), 'Name': 'Naman', 'Roll No': 5}
{'_id': ObjectId('6402252af7f28b9d2bd3f16f'), 'Name': 'Ketan', 'Roll No': 2}
{'_id': ObjectId('6402252af7f28b9d2bd3f170'), 'Name': 'Sudha', 'Roll No': 3}
{'_id': ObjectId('6402252af7f28b9d2bd3f171'), 'Name': 'Abdul', 'Roll No': 4}
{'_id': ObjectId('6402252af7f28b9d2bd3f172'), 'Name': 'Naman', 'Roll No': 5}
{'_id': 1, 'name': 'Central Park Cafe', 'borough': 'Manhattan'}
{'_id': 2, 'name': 'Rock A Feller Bar and Grill', 'borough': 'Queens'}
{'_id': 3, 'name': 'Empire State Pub', 'borough': 'Brooklyn'}
{'_id': 4, 'name': "Stan's Pizzaria", 'borough': 'Manhattan'}
{'_id': 5, 'name': "Jane's Deli", 'borough': 'Brooklyn'}

***
#### Q7. Explain why delete_one(), delete_many(), and drop() is used.

#### 1. **delete_one()** Removes a single document from a collection.

In [17]:
coll_create.delete_one({'Name': 'Pavan'})

In [18]:
for i in coll_create.find():
    print(i)

{'_id': ObjectId('6400d73a04aa53edfdd990b7'), 'Name': 'Ketan', 'Roll No': 2}
{'_id': ObjectId('6400d73a04aa53edfdd990b8'), 'Name': 'Sudha', 'Roll No': 3}
{'_id': ObjectId('6400d73a04aa53edfdd990b9'), 'Name': 'Abdul', 'Roll No': 4}
{'_id': ObjectId('6400d73a04aa53edfdd990ba'), 'Name': 'Naman', 'Roll No': 5}
{'_id': ObjectId('6402251af7f28b9d2bd3f16d'), 'Name': 'Pavan', 'Class': 'Data Science Masters'}
{'_id': ObjectId('6402252af7f28b9d2bd3f16e'), 'Name': 'Pavan', 'Roll No': 1}
{'_id': ObjectId('6402252af7f28b9d2bd3f16f'), 'Name': 'Ketan', 'Roll No': 2}
{'_id': ObjectId('6402252af7f28b9d2bd3f170'), 'Name': 'Sudha', 'Roll No': 3}
{'_id': ObjectId('6402252af7f28b9d2bd3f171'), 'Name': 'Abdul', 'Roll No': 4}
{'_id': ObjectId('6402252af7f28b9d2bd3f172'), 'Name': 'Naman', 'Roll No': 5}

#### 2. **delete_one()** Removes a many document from a collection.

In [19]:
coll_create.delete_many({'Name': 'Pavan'})

In [20]:
for i in coll_create.find():
    print(i)

{'_id': ObjectId('6400d73a04aa53edfdd990b7'), 'Name': 'Ketan', 'Roll No': 2}
{'_id': ObjectId('6400d73a04aa53edfdd990b8'), 'Name': 'Sudha', 'Roll No': 3}
{'_id': ObjectId('6400d73a04aa53edfdd990b9'), 'Name': 'Abdul', 'Roll No': 4}
{'_id': ObjectId('6400d73a04aa53edfdd990ba'), 'Name': 'Naman', 'Roll No': 5}
{'_id': ObjectId('6402252af7f28b9d2bd3f16f'), 'Name': 'Ketan', 'Roll No': 2}
{'_id': ObjectId('6402252af7f28b9d2bd3f170'), 'Name': 'Sudha', 'Roll No': 3}
{'_id': ObjectId('6402252af7f28b9d2bd3f171'), 'Name': 'Abdul', 'Roll No': 4}
{'_id': ObjectId('6402252af7f28b9d2bd3f172'), 'Name': 'Naman', 'Roll No': 5}

In [53]:
coll_create.drop()

In [54]:
for i in coll_create.find():
    print(i)

***